// 图标
.icon {
  width: 30px;
  height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 菜单图标
.icon-title {
  width: 18px;
  height: 18px;
  vertical-align: -3px;
}

// 菜单收缩后
.el-menu--vertical {
  .el-menu-item {
    height: 46px;
    line-height: 46px;
  }
}

// 主要内容公告样式
.w_content {
  background: #f0f2f5;
  padding: 20px;
  font-size: 12px;

  .my-head {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #303133;
    height: 30px;
  }
}

// 表格删除提示样式
.operat_pop {
  .operat_text {
    color: #323232;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    padding-bottom: 8px;
  }

  .operat_btn {
    display: grid;
    grid-template-columns: 80px auto;
    grid-column-gap: 10px;
    justify-content: start;
  }
}

// 表格头部样式
.w_table_head {
  display: grid;
  grid-column-gap: 3px;
  justify-items: start;
  justify-content: start;
  padding-bottom: 10px;
}

// 表单树形选择样式
.el-form-item__content {
  font-size: 12px;

  .vue-treeselect__control {
    margin-top: 2px;
    height: 30px;
    line-height: 30px;

    .vue-treeselect__single-value {
      line-height: 28px;
    }
  }
}

// 表格编辑样式
.w_table_edit {
  display: inline-block;
}

/* 修改el-input的color值 */
//.my-login {
//  .el-form-item__content {
//    input:-webkit-autofill {
//      color: red;
//      //-webkit-box-shadow: 0 0 0px 1000px orangered inset;
//      &:placeholder {
//        color: red;
//      }
//    }
//    input[type='text']:focus,
//    input[type='password']:focus {
//      color: red;
//    }
//    .el-input__inner {
//      color: red;
//      &::placeholder {
//        color: red;
//      }
//    }
//  }
//}